<div class="form-group row" [formGroup]="formGroup"
     [ngClass]="{'ui-error' : (!uiModel.textOnly && ((!formControl.valid && formControl.touched) || (!currencyFormControl.valid && currencyFormControl.touched))) || (uiModel.textOnly && !formControl.valid)}"
     [ngStyle]="{'display': uiModel.hidden ? 'none' : 'block'}">
  <qnect-ui-label-part [fieldId]="fieldId" [uiModel]="uiModel"></qnect-ui-label-part>
  <div class="col-md-{{uiModel.size}}">
    <div class="row">

      <div class="col-md-{{amountFieldSize}} col-xs-{{amountFieldSize}}">
        <div class="input-group" *ngIf="!uiModel.textOnly">
          <input id="{{fieldId}}"
                 formControlName="{{uiModel.name}}"
                 type="text"
                 class="form-control"
                 aria-label="Amount (to the nearest dollar)"
                 (keypress)="onKeyPress($event)"
                 maxlength="{{uiModel.maxlength}}"
                 #inputField
                 qnectCurrencyInputFormatter>
        </div>
      </div>
      <div *ngIf="uiModel.currencyFieldName" class="col-md-5 col-xs-5 remove-padding-left">
        <select formControlName="{{uiModel.currencyFieldName}}" id="{{uiModel.currencyFieldId}}"
                class="form-control"
                (change)="setSelectedText()">
          <option value="null" disabled selected>{{uiModel.currencyPlaceholder}}</option>
          <option *ngFor="let option of uiModel.currencyOptions" value="{{option.value}}">{{option.label}}</option>
        </select>
      </div>
    </div>
    <p class="form-control-static" id="{{fieldId}}" *ngIf="uiModel.textOnly">{{formControl.value}} {{currencySelectedText}}</p>
    <ui-error *ngIf="(formControl.touched || uiModel.textOnly) && !currencyFormControl.errors" [inputErrors]="formControl.errors" [dictionary]="uiModel.dictionary"></ui-error>
    <ui-error *ngIf="uiModel.currencyFieldName && (currencyFormControl.touched || uiModel.textOnly)" [inputErrors]="currencyFormControl.errors"
              [dictionary]="uiModel.dictionary"></ui-error>
  </div>
  <span *ngIf="uiModel.popover" style="margin-top:10px" class="{{uiModel.popover.icon}} ui-icon" role="button"
        [popover]="uiModel.popover.content" placement="right" triggers="mouseenter:mouseleave"></span>
</div>
