<div class="btn-group">
  <button *ngFor="let lang of uiModel.options" (click)="selectLang(lang.value)"
  class="btn btn-default" [class.btn-primary]="isCurrentLang(lang.value)">
      {{ lang.label }}
    </button>
</div>
