<div class="form-group row" [formGroup]="formGroup" [ngClass]="{'ui-error' : !formControl.valid && formControl.touched}" [ngStyle]="{'display': uiModel.hidden ? 'none' : 'block'}">
  <qnect-ui-label-part [fieldId]="fieldId" [uiModel]="uiModel"></qnect-ui-label-part>
  <div class="col-md-{{uiModel.size}} col-xs-12">
    <input formControlName="{{uiModel.name}}" type="text" class="form-control" id="{{fieldId}}" placeholder="{{uiModel.placeholder}}"
           [ngClass]="{'ui-disabled' : uiModel.disabled}" *ngIf="!uiModel.textOnly" (click)="showDatePicker()" claimsUpperCase>
    <p class="form-control-static" id="{{fieldId}}" *ngIf="uiModel.textOnly">{{formControl.value | uppercase}}</p>
    <ui-error *ngIf="(formControl.touched || uiModel.textOnly) && triggerError" [inputErrors]="formControl.errors" [dictionary]="uiModel.dictionary"></ui-error>
  </div>
  <span *ngIf="uiModel.popover" class="{{uiModel.popover.icon}} ui-icon" role="button"
        [popover]="uiModel.popover.content" placement="right" triggers="mouseenter:mouseleave"></span>
</div>
<div class="row" [ngClass]="{'hide' : !opened}">
  <div class="col-md-offset-{{uiModel.labelSize}} col-md-{{uiModel.size}}">
    <div id="date-picker-container" claimsViewportOffset [isOpen]="opened">
      <datepicker [(ngModel)]="dt" [showWeeks]="false" [minDate]="_minDate" [maxDate]="maxDate" (selectionDone)="dateSelected($event)" style="pointer-events: auto;"></datepicker>
    </div>
  </div>
</div>
