<div class="text-left anzsic-select-container">
  <div class="crumbs">
    <ng-container *ngFor="let crumb of crumbs">
    <a (click)="selectDivision(crumb)"><h4>{{crumb.description}}</h4></a>
    </ng-container>
  </div>
  <ng-container *ngIf="!anzsics">
    <div class="contents" *ngFor="let division of divisions">
      <button type="button" (click)="selectDivision(division)" class="btn btn-simple btn-sm">{{division.description}}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="anzsics">
    <div class="contents" *ngFor="let anzsic of anzsics">
      <button type="button" (click)="selectAnzsic(anzsic)" class="btn btn-simple btn-sm" >
        <span>{{anzsic.description}}</span>
        <span style="float:right">{{anzsic.code}}</span>
      </button>
    </div>
  </ng-container>
  <div>
    <button type="button" class="btn btn-default btn-sm pull-right" (click)="close()">
      Close
    </button>
  </div>
</div>