<label *ngIf="uiModel.labelText" for="{{fieldId}}" class="control-label col-md-{{uiModel.labelSize}}">
  <span>{{uiModel.labelText}}</span>
  <span *ngIf="uiModel.required && uiModel.labelText && !uiModel.hideMandatoryMark">*</span>
</label>
