<div class="form-group row" [formGroup]="formGroup" [ngClass]="{'ui-error' : !formControl.valid && formControl.touched}">
  <div class="col-md-{{uiModel.size}}">
    <div class="col-md-12">
      <qnect-ui-label-part [fieldId]="fieldId" [uiModel]="uiModel"></qnect-ui-label-part>
    </div>
  </div>
  <div class="col-md-{{uiModel.size}}">
    <div class="col-md-10">
      <input type="text" class="form-control" id="{{fieldId}}" placeholder="{{uiModel.placeholder}}"
      [ngClass]="{'ui-disabled' : uiModel.disabled}" *ngIf="!uiModel.textOnly"
      qnect-auto-complete
      [source]="observableSource.bind(this)"
      [formControl]="formControl"
      min-chars=4
      display-property-name="manualBusiness"
      [list-formatter]="autocompleListFormatter"
      (valueChanged)="anzsicSelect($event)">
        <p class="form-control-static" id="{{fieldId}}" *ngIf="uiModel.textOnly">{{value}}</p>
        <ui-error *ngIf="formControl.touched || uiModel.textOnly" [inputErrors]="formControl.errors" [dictionary]="uiModel.dictionary"></ui-error>
    </div>
    <div class="col-md-2" *ngIf="!uiModel.textOnly" >
      <button type="button" class="btn btn-default btn-sm" (click)="openAnzsicModal()">SEARCH</button>
    </div>
  </div>
</div>

<qnect-modal-dialog>
  <div class="app-modal-header">
    <span>{{anzsicModalHeader}}</span>
  </div>
  <div class="app-modal-body">
    <qnect-anzsic-select [uiModel]="uiModel" (saveForm)="saveAnzsic($event)"></qnect-anzsic-select>
  </div>
</qnect-modal-dialog>
