<div class="form-group row" [formGroup]="formGroup"
     [ngClass]="{'ui-error' : !formControl.valid && formControl.touched}"
     [ngStyle]="{'display': uiModel.hidden ? 'none' : 'block'}">
    <qnect-ui-label-part [fieldId]="fieldId" [uiModel]="uiModel"></qnect-ui-label-part>
    <div class="col-md-{{uiModel.size}} radioButtonsMarginTop">
        <label class="ui-radio" *ngFor="let option of uiModel.options" for="{{fieldId}}_{{option.value}}">
      <input type="radio" formControlName="{{uiModel.name}}" id="{{fieldId}}_{{option.value}}" value="{{option.value}}">
      <i class="fa fa-circle-o fa-2x ui-icon"></i>
      <i class="fa fa-dot-circle-o fa-2x ui-icon"></i>
      <span>{{option.label}}</span>
      </label>
      <div class="row">
          <div class="col-xs-12">
              <ui-error *ngIf="formControl.touched" [inputErrors]="formControl.errors" [dictionary]="uiModel.dictionary"></ui-error>
          </div>
      </div>
    </div>
</div>
