label input[type="radio"] ~ i.fa.fa-circle-o{
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    display: inline;
}
label input[type="radio"]{
    display: none;
}

label.ui-radio{
    display: inline-block;
    text-align: left;
    cursor: pointer;
    margin-right: 10px;
}

label.ui-radio span{
    font-weight: normal;
}

.ui-error .ui-icon,
.ui-error span{
    color: red;
}

.radioButtonsMarginTop{
  margin-top : 7px;
}

