@import "../../../variables.scss";
.ui-checkbox-row{
    padding-left: 15px;
}

.ui-checkbox{
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    margin-bottom: 5px;
}

.ui-checkbox .ui-label{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    user-select: text;
    margin-right: 0;
    margin-left: 42px;
    color: #000000;
    font-weight: bold;
}

.ui-checkbox .ui-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
    left: 12px;
    right: auto;
}

.ui-checkbox .ui-icon{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid $primary-color;
    text-align: center;
}

.ui-disabled {
    cursor: not-allowed;
}

.ui-error .ui-checkbox .ui-label{
    color: red;
}

.ui-error .ui-checkbox .ui-icon{
    border-color: red;
    background-color: lightpink;
}
