@import "../../variables.scss";

@media all and (max-width: 991px) {
  .control-label {
    text-align: left;
  }
}

@media all and (min-width: 992px) {
  .control-label {
    text-align: right;
    padding: 7px 0;
  }
}

@media (max-width: 1024px) {
  .ui-popover .glyphicon-chevron-up {
    left: 94%;
  }
}

@media (max-width: 480px) {
  .ui-popover .glyphicon-chevron-up {
    left: 88%;
  }
}

.form-group {
  margin-bottom: 5px;
}

.info-icon-popover {
  padding: 8px 0;
  color: $primary-color;
}

.ui-popover {
  color: $primary-color;
  padding: 14px 0px 3px 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.ui-popover p {
  width: 80%;
}

.ui-popover .glyphicon-chevron-up {
  position: absolute;
  left: 95%;
  top: 37%;
}

.ui-sky-color {
  color: $primary-color;
}

.ui-icon {
  color: $primary-color;
  vertical-align: middle;
}

/*.ui-disabled {
    background-color: lightgray;
    border: 1px solid darkgray;
    color: #000000;
}

.ui-disabled .ui-icon {
    color: darkgray;
}*/

.ui-error .form-control,
.ui-error .input-group-addon {
  border: 1px solid red;
  background: lightpink;
}

.ui-error .form-control-static {
  color: red;
  font-weight: bold;
}

.control-label {
  font-size: 13px;
  font-weight: bold;
  padding-top: 0;
  vertical-align: middle;
}

:host > > > .popover {
  min-width: 300px;
}

.remove-padding-right{
  padding-right: 0px !important;
}

.remove-padding-left{
  padding-left: 0px !important;
}
