.text-danger {
    color: red;
    margin-top: 10px;
}

ul {
    list-style-type: none;
     margin-left: 0;
     padding-left: 0;
}

ul li{
    margin-top: 0
}

ul.multiple{
    list-style-type: circle;
    padding-left: 20px;
}