<div class="form-group row" [formGroup]="formGroup" [ngClass]="{'ui-error' : !formControl.valid && formControl.touched}" [ngStyle]="{'display': uiModel.hidden ? 'none' : 'block'}">
  <qnect-ui-label-part [fieldId]="fieldId" [uiModel]="uiModel"></qnect-ui-label-part>
  <div class="col-md-{{uiModel.size}}">
    <div>
      <input type="text" class="form-control" id="{{fieldId}}" placeholder="{{uiModel.placeholder}}"
      [ngClass]="{'ui-disabled' : uiModel.disabled}" *ngIf="!uiModel.textOnly" [readOnly]="readOnly"
      qnect-auto-complete [source]="observableSource.bind(this)" [formControl]="formControl" accept-user-input="!readOnly"
      display-property-name="addressLine" [list-formatter]="autocompleListFormatter" (valueChanged)="addressSelect($event)">
        <p class="form-control-static" id="{{fieldId}}" *ngIf="uiModel.textOnly">{{value}}</p>
        <ui-error *ngIf="formControl.touched || uiModel.textOnly" [inputErrors]="formControl.errors" [dictionary]="uiModel.dictionary"></ui-error>
    </div>
    <div style="margin-top: 10px;">
      <button *ngIf="!isEmptyObject(formControl.value)" type="button" class="btn btn-primary btn-sm" (click)="openAddressFormModal()">Edit</button>
      <button type="button" class="btn btn-default btn-sm" (click)="clearAddress()">Clear</button>
    </div>
  </div>
</div>

<qnect-modal-dialog>
  <div class="app-modal-header">
    Address Details
  </div>
  <div class="app-modal-body">
    <qnect-ui-address-form [addressDetails]="formControl.value" (saveForm)="updateAddress($event)"></qnect-ui-address-form>
  </div>
</qnect-modal-dialog>
