<div id="address-details-form">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">
        <div class="panel panel-default">
          <div class="panel-body">
            <qnect-ui [fieldId]="'AD01'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui [fieldId]="'AD02'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui [fieldId]="'AD03'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui [fieldId]="'AD04'" [formGroup]="addressForm"></qnect-ui>
            <!-- Validated -->
            <qnect-ui *ngIf="isValidated()" [fieldId]="'AD05'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui *ngIf="isValidated()" [fieldId]="'AD06'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui *ngIf="isValidated()" [fieldId]="'AD07'" [formGroup]="addressForm"></qnect-ui>
            <!-- not Validated -->
            <qnect-ui *ngIf="!isValidated()" [fieldId]="'AD05a'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui *ngIf="!isValidated()" [fieldId]="'AD06a'" [formGroup]="addressForm"></qnect-ui>
            <qnect-ui *ngIf="!isValidated()" [fieldId]="'AD07a'" [formGroup]="addressForm"></qnect-ui>
          </div>
        </div>

        <div class="row" style="margin: 10px 0;">
          <div class="col-md-12">
            <button type="button" class="btn btn-default btn-sm pull-left" (click)="close()">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary btn-sm pull-right">
                Save
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
